.grey-boxes {
	margin-left: -5px;
	margin-right: -5px;
	display: flex;
	flex-direction: row;

	@include media-breakpoint-down(sm) {
		overflow: hidden;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.grey-box {
		padding-left: 5px;
		padding-right: 5px;
		color: black;
		.inner {
			background: $bg-grey-box;
			border-radius: 10px;
			padding: 12px 18px;
			text-align: center;
			width: 100%;
		}
		.top {
			font-size: 21px;
			font-weight: 400;
			display: block;
		}
		.bottom {
			font-size: 13px;
			white-space: pre;
		}
	}
}