<nav class="nav-main {{#if nav-dark}}nav-dark{{/if}}">
	<div class='nav-logo'>
		<img src='/assets/images/nav-logo.png' />
	</div>

	<ul class="nav-menu">
		<li class="nav-menu-item {{#if dashboard-nav}}active{{/if}}">
			<a href="/admin/packs">
				<span class="icon-home"></span>
			</a>
		</li>
	</ul>
</nav>