\{{#each plans}}
<div class="plan-item">
	<div class="inner">
		<span class="top-text">\{{name}}</span>
		<span class="center-text">$\{{price}}.00</span>
		<span class="bottom-text">\{{period}}</span>
		<a href='#' class='button mt-4 d-block'>Subscribe</a>
	</div>
</div>
\{{/each}}