<div class="profile-nav">
	<div class="dropdown">
		<p class='salute d-none d-sm-block'>{{user.fullname}}</p>
		<img src='/assets/images/profile-pic.jpg' class='profile-pic' />
		<span class='icon icon-cog-wheel'></span>
		<ul class="dropdown-menu">
			<li><a href='/user'>See profile</a></li>
			<li><a href='/stats'>My stats</a></li>
			<li><a href='/logout'>Logout</a></li>
		</ul>
	</div>
</div>