<p class='mb-3' class='guide-text'>You were doing a good job in breathing this session!</p>
<div class="progress-bar">
	<div class="guide-line">
		<div class="line">
			<div class="inner">
				<p>(Guide)</p>
				<p><span id='guide-brpm'>{{ pack.guideBreathsPerMin }}</span> BrPM</p>
			</div>
		</div>
	</div>
	<div class="bar">
		<div class="line">
			<div class="inner">
				<p>(You)</p>
				<p><span class="t-orange">{{ breathsPerMin }}</span> BrPM</p>
			</div>
		</div>
	</div>
</div><!-- progress bar -->