<div class="stats-content sidebar">
	<div class="grid-item">
		<div class="white-box">
			<div class="top">
				<img src='/assets/images/question-icon.png' class='icon-left'/>
				<div class="titles">
					<h3>What do these stats mean for me?</h3>
				</div>
			</div>
			<div class="top mt-3">
				<span class='icon-waves icon-left icon-small t-primary'></span>
				<div class="titles">
					<h6>Guide Accuracy</h6>
					<p>
						Represents how accurately you follow the guide and 
						how consistent your breath is.
						The higher the more you'll be achieving coherence 
						and  in the state to eventually achieve calm. 
						Above 90% is a good result.
					</p>
				</div>
			</div>
			<div class="top mt-4">
				<span class='icon-resize icon-left icon-small t-primary-light'></span>
				<div class="titles">
					<h6>Breath Depth</h6>
					<p>
						Represents how much of your full lung capacity 
						you are using in sessions.The deeper you breathe, 
						the more you entrain yourself to do this normally - 
						and be less stressed as a result. 70%+ is a good result.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>