<body class='auth'>
	<div class="login-screen">
		<div class="login-steps">
			<div class='main-carousel text-center'>
				<div class="carousel-cell">
					<img src='/assets/images/heart.svg' class='small-icon' />
					<h2 class='steps-title'>Achieve calm.<br />Be rewarded.</h2>
					<p class='t-light-blue'>
						Using our breath tracking technology,
						we reward you with <span class='t-yellow'>coins</span> for
						your progress (coming soon).
					</p>
				</div>
				<div class="carousel-cell">
					<div id="userStartingFeed" class="guideRing">
						<video id="video" class="videoFeed" width="320" height="240" muted="muted" autoplay></video>
					</div>
					<p class="err" id="errorMessage" style="width: 100%;height: 60px;overflow: hidden;"></p>
					<h2 class='steps-title'>Breath technology with your camera</h2>
					<p class='t-light-blue'>
						You can use the front camera to track and guide your breathing.
						Cool right?<br /><br />

						This lets you follow the guide, get in sync,
						<span class='t-primary-light'>boost your emotional
							state and recieve your biometric stats!</span><br /><br />

						<span class='bold'>Our servers never</span> recieve any visual data from the camera.
						It's all calculated offline, privately, using this web app. Neat!
					</p>
				</div>
				<div class="carousel-cell">
					<img src='/assets/images/revolution-icon.png' class='small-icon' />
					<h2 class='steps-title'>Join the revolution</h2>
					<p class='t-light-blue'>
						Be part of the global mission for world peace. Visualise t
						he <span class='t-primary-light'>real world change</span> on the map on the dashboard.
					</p>
				</div>
			</div>
			<a href='#' class='button-ghost next-carousel'>next</a>
			<a href='/dashboard' class='t-primary-light skip-link'>skip and go to dashboard</a>
		</div>

		<ul class='footer-menu'>
			<li><a href='#'>Terms of service</a></li>
			<li><a href='#'>Privacy</a></li>
			<li><a href='#'>Cookies</a></li>
		</ul>
		<p class='copyright'>© 2019 Conscious - Transformational Technologies LLC.</p>
	</div>

	<script src='/assets/js/welcome.js'></script>
</body>